:root{
  /* colors */
  --clr-white:#F4F1EA;
  --clr-black:#2C2C2C;
  --clr-dark-brown:#4A3F35;
  --clr-dark-brown-lighter:#67584a;
  --clr-brown:#A67C52;
  --clr-transparent: rgba(255, 255, 255, 0.067);
  --clr-light-brown:#d8a068;
  --clr-red:rgb(178, 57, 17);



  --clr-primary-text:var(--clr-white);
  --clr-accent:var(--clr-brown);
  --clr-navigation:var(--clr-dark-brown);
  --clr-book-container:var(--clr-transparent);
  --clr-button:var(--clr-brown);

  /* font familys */
  --ff-text:"Roboto", sans-serif;
  --ff-heading:"Space Grotesk", sans-serif;

  /* padding */

  --pd-default:2rem;
}

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  height: 100dvh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: url(images/library.jpg) center center / cover no-repeat fixed;
  font-family: var(--ff-text);
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
  font-family: var(--ff-heading);
}
#root, #__next {
  isolation: isolate;
}
h1{
  font-size: 2rem;
}

body{
  display: grid;
  grid-template-rows: 70px 1fr;
  gap: 2rem;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--pd-default);
  background-color: var(--clr-navigation);
  color: var(--clr-accent);
}

nav button{
  background-color: var(--clr-button);
  color: var(--clr-black);
  width: 150px;
  border-radius: 10px;
  border: none;
}
.delete-btn:hover,
nav button:hover{
  color: var(--clr-brown);
  background-color: var(--clr-dark-brown-lighter);
  cursor: pointer;
}

main{
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-auto-rows: 300px;
  gap: 2rem;
  padding: var(--pd-default);
  position: relative;
}

main div{
  background-color: var(--clr-dark-brown);
  color: var(--clr-brown);
  border-left: 15px solid var(--clr-black);
  border-bottom: 1px solid var(--clr-white);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 0 10px black;
  position: relative;
}


dialog{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

dialog::backdrop{
  background-color: black;
  opacity: 0.4;
}

dialog{
  background-color: var(--clr-dark-brown);
  box-shadow: 0 0 15px black;
  color: var(--clr-white);
  border: none;
  border-radius: 10px;
}

dialog input,
dialog textarea{
  width: 400px;
  margin-bottom: 20px;
  appearance: none;
}
dialog input{
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  height: 30px;
}

dialog textarea{
  height: 100px;
  resize: none;
}
dialog form{
  display: flex;
  flex-direction: column;

}

button[type="submit"]{
  width: 100px;
  border-radius: 10px;
  border: none;
  background-color: var(--clr-button);
}

button[type="submit"]:hover{
  background-color: var(--clr-dark-brown-lighter);
  cursor: pointer;
}

.icon{
  width: 30px;
  height: 30px;
  color: var(--clr-red);
  font-weight: bold;
}

.form-x-container{
  all: unset;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-x-container button{
  background-color: transparent;
  border: none;
}

.icon:hover{
  color: var(--clr-brown);
  cursor: pointer;
}

.book-label{
  font-weight: bold;
  color: #d29d69;
}

input:focus,
textarea:focus{
  outline: none;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.334);
}

input,
textarea{
  background-color: var(--clr-brown);
  color: var(--clr-white);
  border: none;
}

input::placeholder{
  color: rgba(255, 255, 255, 0.397);
}

form h2{
  color: var(--clr-light-brown);
  font-size: 2rem;
}

form label{
  color: var(--clr-light-brown);
}

.delete-btn{
  width: 75px;
  border: none;
  border-radius: 10px;
  position: absolute;
  right: 20px;
  bottom:20px;
  background-color: var(--clr-button);
  color: var(--clr-black);
}

