:root{
  /* colors */
  --clr-background:#F4F1EA;
  --clr-primary-text:#2C2C2C;
  --clr-accent:#8B5E3C;
  --clr-navigation:#4A3F35;
  --clr-links:#A67C52;

  /* font familys */
  --ff-text:"Roboto", sans-serif;
  --ff-heading:"Space Grotesk", sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
  font-family: var(--ff-text);
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
  font-family: var(--ff-heading);
}
#root, #__next {
  isolation: isolate;
}